<div class="panel">
  <div class="row">
    <div class="small-12 columns">
      <h2>
      	<!-- <i class="icon-book"></i><i class="icon-music"></i><i class="icon-film"></i> -->
      	 Share what stirs your soul
      </h2>
      <%= link_to "Sign up", new_user_registration_path, class: "button" %>
    </div>
  </div>
</div>