<li>
<%= quote.to_string  %>
<% if @user == current_user %>
	<div align="right">
		<br>
		<%= link_to "Delete", [current_user, @meme, quote] , method: :delete, data: { confirm: "You sure?" } %>
		<br>
		<%= link_to "Make current", user_meme_current_quote_path(current_user, @meme, quote), method: :put %>
	</div>
<% end %>
</li>