<li>

<%# quote.to_string  %>

<blockquote>
	<p> "<%= quote.body%>" </p>
	<small class = "pull-right"><%= quote.author%></small>
</blockquote>	
<% if @user == current_user %>
	<div align="right">
		<br>
		<%= link_to "Delete", [current_user, quote] , method: :delete, data: { confirm: "You sure?" } %>
		<br>
		<%= link_to "Make current", user_current_quote_path(current_user, quote), method: :put %>
	</div>
<% end %>

</li>