<li class = "reads">
<small> <%= feeling.created_at.strftime("%I:%M%p %m/%d/%Y") %> </small>
<% @item = feeling.feelable %>
<%= render "items/shelfitem", object: @item  %>	

<div class="row">
	<%= link_to "Delete", [current_user, feeling] , method: :delete, data: { confirm: "You sure?" }, class: "pull-right" if @user == current_user%> 	
</div>
</li>

