<%= render 'shared/userhead' %>
<div class="container">
	<div class="row">

      <%= render 'shared/shelves_sidebar' %>	

	  <div class="span9">	  	
	  	<h5> Recently Stirred by </h5>
	  	<ul class = "reads"> 
	  		<%= render @feelings %>		
	  	</ul>
	  </div>

	</div> 
</div> 



