<% if @shelf == shelf %>
	<li class = "active">
		<%= link_to "#{shelf.icon} #{shelf.name} <i class=\" icon-chevron-right pull-right\"></i>".html_safe, user_shelf_path(@user, shelf) %>
	</li>
<% else %>
	<li>
		<%= link_to "#{shelf.icon} #{shelf.name}".html_safe, user_shelf_path(@user, shelf) %>
	</li>
<% end %>
