<div id="shelves"> loading...</div>

<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new Stirs.Routers.ShelvesRouter({ shelves: <%=@shelves.to_json(:include => :items).html_safe %> });
    Backbone.history.start();
  });
</script>W