<div class="container">
  <div id="header">
   <div class="row">
      <div class="col-xs-3">
        <div id="user-info"> </div>
      </div>
    </div>
  </div>
  <div id="shelves">
    <div class="row">
      <div class="col-xs-3">
        <div id="shelf-index"> </div>
      </div>
      <div class="col-xs-9">
        <div id="current-shelf"> </div>
        <div id="item-finder"> </div>
      </div>
    </div> 
  </div>
</div>

<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new Stirs.Routers.ShelvesRouter({ shelves: <%=@shelves.to_json(:include => :items,:methods => :icon).html_safe %> });
    Backbone.history.start();
  });
</script>