<li>
	<div class="row">
	<div class="span1">	
	<%#= image_tag(read.image_url) %>
	<% if read.url %>
		<%= link_to image_tag(read.image_url), read.url  %>
	<% end %>
    </div>
	<div class="span6">
	<%= link_to read.title, read.url  %> <br>
    <%= read.author %> <br>
    
    <!-- <div class="span4"> -->
    <!-- <div class= "pull-right"> -->
    <br>
    <% if @user == current_user %>
	    <%= link_to "Delete", [current_user, @shelf, read] , method: :delete, data: { confirm: "You sure?" }%>

<!-- 	    <%# if read == @read %>
	        <%#= form_for [@user, @shelf, read], method: :put do |f| %>
		        <%#= f.label :comment %>
		    	<%#= f.text_area :comment, :cols => "10", :rows => "5" %>
		    	<br>
		        <%#= f.submit %>
		    <%# end %>	
		<%# else %>
			<div class= "pull-right">
			<%#= link_to "Edit Comment", edit_user_shelf_read_path(@user, @shelf, read) %> <br>
			<%# end %>
			
			</div> -->
	<% end %>
	<!-- </div> -->
	<!-- </div> -->
	</div>
	</div>
</li>
