<%= render 'shared/userhead' %>
<div class="container">
	<div class="row">
	  <div class="span3 bs-docs-sidebar">
	    <ul class="nav nav-tabs nav-stacked">
	      <li><a href= "#" ><i class="icon-book"></i> Dystopia</a></li>
	      <li><a href= "#" ><i class="icon-book"></i> Fantasy</a></li>
	      <li><a href= "#" ><i class="icon-book"></i> Programming - Ruby</a></li>
<!-- 	      <li><a href= "#" ><i class="icon-music"></i> Working Relaxed</a></li>
	      <li><a href= "#" ><i class="icon-wrench"></i> Cooking Buddies</a></li>
	      <li><a href= "#" ><i class="icon-pencil"></i> Story about a dude  </a></li> 
	      <li><a href= "#" ><i class="icon-picture"></i> Wedding Ireland</a></li>
	      <li><a href= "#" ><i class="icon-user"></i> Chefs Edinburgh</a></li> -->
<!-- 	      <li><a href= "#" ><i class="icon-book"></i> Books </a></li>
	      <li><a href= "#" ><i class="icon-music"></i> Music </a></li>
	      <li><a href= "#" ><i class="icon-wrench"></i> Tools</a></li>
	      <li><a href= "#" ><i class="icon-picture"></i> Pictures</a></li>
	      <li><a href= "#" ><i class="icon-user"></i> Craftsmen</a></li>
	      <li><a href= "#" ><i class="icon-pencil"></i> Writings  </a></li>  -->
	    </ul>
	  </div>
	  <div class="span9">

		<ul class = "reads">
			<%= render @reads %>	
		</ul>	
		<%= will_paginate @reads%>
		<%= link_to "Add Read", new_user_read_path(current_user) if @user == current_user %>

	  </div>

	</div> 
</div> 