<%= render 'shared/userhead' %>

<ul class = "reads">
	<%= render @reads %>	
</ul>	
<%= will_paginate @reads%>
<%= link_to "Add Read", new_user_read_path(current_user) if @user == current_user %>
<!-- <div class = "pull-right">
	<%#= link_to "all user memes" , user_memes_path(@user) %>
</div> -->