<li>	
	 <h5><%# meme.title %></h5>
	 <%= meme.current_quote.to_string %>
	 <%# link_to "edit title", user_meme_path(@user.id, meme.id) %>
	
	 <%#= meme.current_quote.to_string%>
	  <br>
	 <br>
	 <%= link_to "Quotes:#{meme.quotes.size}", user_meme_quotes_path(@user.id, meme.id)   %> 
	 <br>
	 <%= link_to "Books:#{meme.reads.size}", user_meme_reads_path(@user.id, meme.id)   %> 

</li>
