<h1>Memes#show</h1>
<p>Find me in app/views/memes/show.html.erb</p>


	<br>
	<h5> Reads </h5>
	<% if !meme.reads.empty? %>
		<% render meme.reads %>
    <% else %>
      no books added yet
    <% end %>
    <br>
    <%= link_to "Show reads", edit_user_meme_read_path(current_user.id, meme.id) if current_user %>
