<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @friend.name %></h1>
    <p>
      <%= @user.name %> has requested you friendship on SoulStirs.<br/>
    </p>
    <p>
      Follow this link to accept: <%= @url %>.
    </p>
    <p>One love</p>
  </body>
</html>