<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hi, <%= @friend.name %></h4>
    <p>
      <%= @user.name %> has sent you a card on SoulStirs.<br/>
    </p>
    <p>
      Follow this link to check it out <%= @url %>.
    </p>
    <p>One love</p>
  </body>
</html>
