<!-- <p>
  <b>Name:</b>
  <%= name %>
  <b>Items </b>
</p> -->
<div class = "panel" >
  <div class="right">
    <a id="delete" href="#"> X </a>
  </div>
  <form>
    <label for="name">Name</label>
    <input id="name" name="Name" type="text">
    <input id = "edit-btn" name="commit" type="button" value="Update Name" >
  </form>

  <ul id='items' class = 'inline-list' >
    
  </ul>
</div<

