<p>
  <b>Name:</b>
  <%= name %>
  <b>Items </b>
</p>

<ul id='items'>
</ul>

<a href="#/index">Add Item</a>
<br>

<form>
  <label for="title">Title</label>
  <input id="title" name="title" type="text">
  <label for="creator">Author</label>
  <input id="creator" name="creator" type="text">
  <input id = "find_btn" class="btn" name="commit" type="button" value="Find">
</form>

<ul id='found_items'>
</ul>

<a href="#/index">Back</a>