<div class="panel">
  <div class="row">
    <div class="small-12 columns">

      <div class="row">
        <div class="large-6 columns">
          <p>
            <b>Name:</b>
            <%= name %>
            <b>Items </b>
          </p>

          <ul id='items' class = 'inline-list'>
          </ul>
        </div>
        <div class="large-6 columns">

          <form>
            <label for="title">Title</label>
            <input id="title" name="title" type="text">
            <label for="creator">Author</label>
            <input id="creator" name="creator" type="text">
            <input id = "find_btn" name="commit" type="button" value="Find" >
          </form>
        

        
          <ul id='found_items' >
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>