<!-- <p>
  <b>Name:</b>
  <%= name %>
  <b>Items </b>
</p> -->
<div class = "panel panel-default" >
  <div class="panel-heading">
    <div class="pull-right">
      <a id="delete" href="#" class="btn btn-default"> Delete Shelf </a>
    </div>      

    <h2 id = "namehead"> <%= name %></h2>

    <form id = "nameform">
      <input id="name" name="Name" type="text">
      <input id = "edit-btn" name="commit" type="button" value="Save" >
      <a id="formclose" href="#"> x </a>
    </form>  
  </div>

  <div class="panel-body">
    <ul id='items' class = 'list-inline items' >       
    </ul>

    <div class="pull-right">
      <a id="show-finder" href="" class="btn btn-default"> Add Item <span class="glyphicon glyphicon-chevron-down"></span> </a>
    </div>
  </div>

</div<

